.card{
    box-shadow: var(--shadow-light);
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 42rem;
    border: 1px solid var(--color-grey);
    transition: box-shadow .3s, transform .4s;

    &{
        margin-top: 2rem;
    }

    &__content{
        padding: 0 2rem 2rem;
    }

    &:hover{
        transform: translateY(-.2rem);
        box-shadow: var(--shadow-dark);
    }

    &__img{
        height: 15rem;
        object-fit: cover;
        width: 100%;
    }

    &__rating{
        
    }

    &__desc{
        color: var(--sec-color-dark);
        font-size: 1rem;
    }

    &__price{
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        color: var(--grey-color);
    }

    &__us{
        font-size: 1.6rem;
        font-weight: bold;
        color: #000;
        font-family: 'Lato';
    }

    &__checkin{
        display: flex;
        align-items: center;
    }

    &__btn-cart{
        padding: .7rem 2rem;
        background-color: var(--pimary-color-dark);
        color: #FFF;
        font-weight: 300;
        letter-spacing: 1.2;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        text-transform: capitalize;

        &[role="remove"]{
            background-color: var(--grey-color);
        }
    }

    &__love{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
}

.love__icon{
    fill: var(--pimary-color-dark);
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem;
}

.rating-star{
    width: 2rem;
    height: 2rem;
    fill: var(--pimary-color-dark);
}

.checkin__icon{
    width: 1.5rem;
    height: 1.5rem;
    fill: white;
    margin-right: 1rem;
}