//Info Section
.info{
    padding: 10rem 0;
    color: var(--sec-color-dark);
    background-color: var(--grey-color-light);

    &__heading{
        font-weight: 700;
    }

    &__txt{
        width: 60%;
        margin-top: 2rem;margin-bottom: 3rem;
    }

    &__btn{
        background-color: transparent;
        border: 1px solid var(--sec-color-light);
        padding: 1rem 2rem;
        border-radius: 1rem;
        transition: all .3s;

        &:hover{
            background-color: var(--sec-color-dark);
            color: var(--white-color);
        }
    }


}

// Products Section
.category{
        background-color: #FFF;
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;

    &__slider{
        max-width: 36rem;
        overflow-x: scroll;
        display: flex;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__btn{
        cursor: pointer;
        position: relative;
        background-color: #FFF;
        padding: 1rem 2rem;
        color: var(--sec-color-dark);
        &:not(:last-child){
            margin-right: 1rem;
        }

        &,
        &:focus,
        &:active{
            border: none;
            outline: none;
        }

        &::after{
            transition: width .3s ease-in;
            position: absolute;
            content: "";
            width: 0;
            height: .2rem;
            background-color: var(--sec-color-dark);
            bottom: 0;
            left: 0;
        }

        &:hover:after{
            width: 100%;
        }

        &--selected{
            &::after{
                width: 100%;
            }
        }

        &--left,
        &--right{
            border: none;
            outline: none;
            background-color: var(--white-color);
            padding: 0 1rem;
            cursor: pointer;
        }
    }

    &__icon{
        width: 2rem;
        height: 2rem;
        fill: var(--sec-color-dark);
    }

    &__txt{
        font-size: 1rem;
        // text-transform: capitalize;
        font-weight: bold;
        color: inherit;
    }

    
}

.shop{
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading{
        color: transparent;
        background: linear-gradient(to right bottom, var(--pimary-color-dark) 0%, var(--sec-color-light) 100%);
        -webkit-background-clip: text;
        text-align: center;
        font-size: 3rem;
        text-transform: capitalize;
        margin-bottom: 3rem;
    }
}

.products{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 85%;

}

// // .category{
// //     margin-bottom: 10rem;

// //     &__btn{

// //     }

// //     &__icon{

// //     }

// //     &__txt{

// //     }
// }